/* 
#FAFAFA - pozadí stránky
#000000 - černá
#8B8B8B - šedá
#407BFF - primární modrá
#FFFFFF - bílá
#407BFF1F - modrá na košili

font-family: 'Montserrat', sans-serif;

velikosti: do 640px, 640-1100px, nad 1100px

*/

*,
:after,
:before {
  box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #8B8B8B;
}

/* verze pro mobil - do 640px */

.kontejner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.cara {
    padding: 5px;
    width: 50px;
    border-bottom: 2px solid #407BFF;
    margin: auto;
}

.ikona_kontejner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.cestovatel {
    margin: 60px 75px 60px 75px;
    flex: 1 1 calc(100% - 150px);
    align-content: center;
}

.nadpis1 {
    text-align: center;
    font-size: 28px;
    color: black;
    margin: auto;
}

.popis,
.sluzby,
.delegati {
    text-align: center;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    max-width: 460px;
}

.tlacitko {
    text-align: center;
    font-size: 14px;
    color:#FFFFFF;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    max-width: 460px;
}

.dobrodruzstvi {
    background-color: #407BFF;
    max-width: 195px;
    margin: auto;
}

.pohoda {
    background-color: #8B8B8B;
    margin-right: 140px;
    margin-left: 140px;
    max-width: 220px;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.nadpis2 {
    text-align: center;
    font-size: 16px;
    color: black;
    margin: auto;
    padding-top: 40px;
}

.ikona_kontejner {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    width: 460px;
    box-shadow: 0px 4px 6px #407BFF1F;
    border-radius: 10px;
    font-size: 13px;
    margin: 0 auto;
    align-items: center;
}

.ikona {
    padding: 20px;
}

@media screen and (min-width: 640px) {

.popis,
.sluzby,
.delegati {
    max-width: 550px;
}

.kontejner {
    display: flex;
    flex-wrap: wrap;
}

.ikona_wrap1,
.ikona_wrap2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.button {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.dobrodruzstvi {
    max-width: 195px;
    margin: 10px;
}

.pohoda {
    max-width: 220px;
    margin: 10px;
}

.ikona_kontejner {
    max-width: 30%;
    justify-content: center;
    text-align: center;
}

}

@media screen and (min-width: 1100px) {

.kontejner {
    width: 1040px; 
    flex-direction: row;
    align-items: center;
    margin: auto;
}

.PC_kontejner_radek1,
.PC_kontejner_radek2,
.PC_kontejner_radek3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-bottom: 80px;
}

.bezobrazku {
    order: 0;
    max-width: 45%;
}

.cestovatel {
    order: 2;
    max-width: 45%;
    margin: 30px;
    flex: 1 1 45%;
}

.button {
    flex-direction: row;
}

.dobrodruzstvi {
    max-width: 195px;
    margin: 0px;
    margin-right: 10px;
}

.pohoda {
    max-width: 220px;
    margin: 0px;
}

.sluzby,
.delegati {
    max-width: 430px;
}

.nadpis2_sluzby {
    order: 2;
    max-width: 430px;
}

.ikona_wrap1,
.ikona_wrap2 {
    max-width: 550px;

}

.nadpis_delegati {
    max-width: 430px;
}

.cara {
    margin-left: 120px;
}

}